@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");
@import "bootstrap-icons/font/bootstrap-icons.css";

/* basic settings  */
* {
  font-family: "Manrope", sans-serif;
}

#hero {
  background: #0a0101;
  background: linear-gradient(
    rgba(0, 0, 0) 0%,
    rgb(59, 13, 59) 45%,
    rgb(59, 13, 59) 55%,
    rgba(0, 0, 0) 100%
  );
}

body {
  background: #000 !important;
}

/* basic values */
.black-bg {
  background: #000 !important;
}

.black-text {
  color: #000 !important;
}

.transparent-border {
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.twoPointFive-text {
  font-size: 2.5rem;
}

.two-text {
  font-size: 2rem;
}

/* gradient for h1 home font  */
.text-gradient {
  background-image: linear-gradient(#ffffff, #646464 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* custom purple button  */
.purple-button {
  border: rgb(114, 31, 114) solid 1px;
  color: white;
  background: rgb(59, 13, 59, 0.5);
}

.purple-button:hover {
  border: rgb(173, 62, 173) solid 1px;
  background: rgb(59, 13, 59, 0.5);
}

/* custom purple gradient button  */
.purple-gradient-button {
  border: none;
  color: white;
  background: linear-gradient(
    135deg,
    rgb(100, 102, 236) 0%,
    rgb(218, 71, 238) 100%
  );
  transition: transform 0.3s;
}

.purple-gradient-button:hover {
  border: none;
  background: linear-gradient(
    135deg,
    rgb(110, 112, 236) 0%,
    rgb(228, 81, 238) 100%
  );
  transform: translateY(-2px);
}

/* custom outline home page button  */
.outline-home-button {
  border: solid 1px rgb(255, 255, 255, 0.25);
  color: rgb(255, 255, 255);
  background-color: rgba(13, 110, 253, 0.02);
  transition: transform 0.3s ease, border-color 0.3s ease;
  will-change: transform;
  transform: translateZ(0);
}

.outline-home-button:hover {
  border: solid 1px rgb(255, 255, 255, 0.4);
  color: rgb(255, 255, 255);
  background-color: rgba(13, 110, 253, 0.02);
  transform: translateY(-2px);
}

.outline-home-button:active {
  border: solid 1px rgb(255, 255, 255, 0.4) !important;
  color: rgb(255, 255, 255);
  background-color: rgba(13, 110, 253, 0.02) !important;
}

/* hero icon  */
.larger-icon {
  display: block;
  margin-top: 100px !important;
  margin-bottom: 100px !important;
  font-size: 150px;
  box-shadow: 0px 0px 25px rgb(0, 0, 0, 0.4);
  padding: 0 50px;
  background-color: rgb(59, 13, 59);
}

/* fade in  */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in-6s {
  animation: fadeIn 6s;
}

.fade-in-5s {
  animation: fadeIn 5s;
}

.fade-in-4s {
  animation: fadeIn 4s;
}

.fade-in-3s {
  animation: fadeIn 3s;
}

.fade-in-2s {
  animation: fadeIn 2s;
}

.fade-in-1s {
  animation: fadeIn 1s;
}

/* blue to white gradient for h1 home font  */
.blue-white-text-gradient {
  background-image: linear-gradient(90deg, #2a93bd, #ffffff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.custom-dark-card {
  background: rgb(15, 15, 15) !important;
  border: solid 1px rgb(25, 25, 25) !important;
}

.blockquote-custom-green {
  border: rgb(45, 218, 22) 1px solid;
  background-image: linear-gradient(
    170deg,
    rgb(0, 0, 0),
    rgb(0, 0, 0) 66%,
    rgb(45, 218, 22, 0.5) 100%
  );
}

.blockquote-custom-blue {
  border: rgb(100, 149, 237) 1px solid;
  background-image: linear-gradient(
    170deg,
    rgb(100, 149, 237),
    rgb(0, 0, 0) 33%,
    rgb(0, 0, 0) 100%
  );
}

.icon-custom-border-styling {
  border: 1px rgb(255, 255, 255, 0.2) solid !important;
  padding: 1% 3%;
  font-size: 3rem;
}

.custom-card-icon-large {
  font-size: 8rem;
}

/* gradient for h1 home font  */
.text-gradient-purple {
  background-image: linear-gradient(
    90deg,
    rgb(228, 81, 238),
    rgb(255, 255, 255) 80%,
    rgb(255, 255, 255) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.move-left {
  /* transform: translateX(-40px); */
  overflow-x: hidden;
  /* margin-left: 2.5rem; */
}

.move-right {
  /* transform: translateX(40px); */
  overflow-x: hidden;
}

/* footer */

.bottom-border-faded {
  border-bottom: 1px rgb(255, 255, 255, 0.2) solid;
}

/* nav bar  */

.custom-navbar {
  border: none;
}

.custom-navbar:focus {
  box-shadow: none;
}

/* laser animation  */
@keyframes laser {
  0% {
    transform: translateX(-150%);
    filter: blur(2px);
  }
  50% {
    filter: blur(1px);
  }
  100% {
    transform: translateX(150%);
    filter: blur(2px);
  }
}

/* applied to main container  */
.overflow-x-hidden {
  overflow-x: hidden;
}

.relative {
  position: relative;
}

.z2 {
  z-index: 2;
}

.animate-laser1 {
  animation: laser 9s ease-in-out infinite;
  height: 1px;
  background-color: rgb(228, 81, 238, 0.75);
  position: absolute;
  width: 100%;
  top: 35%;
  z-index: 1;
}

.animate-laser2 {
  animation: laser 14s ease-in-out infinite;
  height: 1px;
  background-color: rgba(81, 238, 212, 0.75);
  position: absolute;
  width: 100%;
  top: 45%;
  z-index: 1;
}

.animate-laser3 {
  animation: laser 10s ease-in-out infinite;
  height: 1px;
  background-color: rgba(107, 238, 81, 0.75);
  position: absolute;
  width: 100%;
  top: 55%;
  z-index: 1;
}

.animate-laser4 {
  animation: laser 11s ease-in-out infinite;
  height: 1px;
  background-color: rgba(238, 235, 81, 0.75);
  position: absolute;
  width: 100%;
  top: 65%;
  z-index: 1;
}

/* icon zoom on hover  */

.red-shadow-on-hover {
  transition: box-shadow 0.4s ease;
}

.red-shadow-on-hover:hover {
  box-shadow: 0px 0px 55px rgba(219, 6, 6, 0.8);
}

